<div class="container1">
    <div class="container2">
        
        <h3>Contact us</h3>
        <div class="container3">
            <div class="container4">
        <p>Email:</p><br>
        <p>mainaesther302&#64;gmail.com</p>
    </div>
    <div class="container4">
        <p>Address:</p>
        <p>P.O. Box 2345, Nairobi, Kenya</p>
    </div>
    <div class="container4">
        <p>Phone:</p>
        <p>+254 722 345 678</p>
    </div>
    </div>
    </div>
    <!-- <div class="container3">
        <h3>Follow Us</h3>
        <ion-icon name="logo-instagram"></ion-icon><br>
        <ion-icon name="logo-facebook"></ion-icon><br>
        <ion-icon name="logo-twitter"></ion-icon><br>
        <ion-icon name="logo-linkedin"></ion-icon><br>
    </div> -->
</div>
