<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <div class="container2">
            <p><i>Ian Munene 201</i></p>
            <img src="https://cdn.pixabay.com/photo/2019/11/22/11/43/birds-4644652_640.jpg">
            <p>The best pink site i have ever seen</p>
        </div>
        <div class="container2">
            <p><i>Ian Munene 201</i></p>
            <img src="https://cdn.pixabay.com/photo/2019/11/22/11/43/birds-4644652_640.jpg">
            <p>The best pink site i have ever seen</p>
        </div>
    </div>
</body>
</html>
