<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Polls</h2>
    <div class="container1">
        <div class="container1">
            
            <div class="container2">
                <h3>Finance Bill</h3>
                <button type="button">Reject</button>
                <button type="button">Amend</button>
                <button type="button">Pass</button>
            </div>
            <div class="container2">
                <h3>boxing Championship</h3>
                <button type="button">Mike Tyson</button>
                <button type="button">Jake Paul</button>
                
            </div>
        </div>
    </div>
</body>
</html>

