body{
    width: 100Vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#1F75FE ;
    /* background-color: #1F75FE; */
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
    
}
.container1{
    width:90%;
    display:grid;
    grid-template-columns:auto auto auto;
    gap:20px;
 
    justify-content: space-between;
    /* align-items: center; */
    margin:auto;
    padding:10px;
    background-color:white;
    padding:20px;
    border-radius: 10px;
    

}
h2{
    /* align-items: center; */
    /* align-content: center; */
    /* justify-items: center; */
    text-align: center;
}
.container2{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    padding:20px;

    width: 300px;
    
}
.container2 h3{
    /* border:1px solid #1F75FE; */
    border-radius: 8px;
    padding:10px;
}
.container2 button{
    width:100%;
    height:35px;
    border-radius: 10px;
    border:none;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgb(31, 117, 254, 0.24) 0px 3px 8px;
    margin-top:8px;
    background-color: #ffffff;
    border:1px solid rgb(31, 117, 254);

}
.container2 button:hover{
    background-color: #1F75FE;
    color:white


}
.container2 p{
    font-size: 18px;
    color:rgb(31, 117, 254);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
@media screen and (max-width: 480px) {
    .container1{
        width:90%;
        display:grid;
        grid-template-columns:auto ;
        gap:10px;
    }
    
 }