<div class="home">
    <h2>Add Your Incident</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="container1">
        <div class="container2">
            <div>
                <input class="name" formControlName="Title" type="text" placeholder="Title.."><br>
                <span *ngIf="form.get('Title')?.invalid && form.get('Title')?.touched"><i>Title is required.</i></span>
            </div>
            <div>
                <input class="name" formControlName="Image" type="text" placeholder="Image Url"><br>
                <div *ngIf="form.get('Image')?.invalid && form.get('Image')?.touched" class="span">
                    <p *ngIf="form.get('Image')?.hasError('required')"><i>Image is Required.</i></p>
                    <p><i>Image Url is not valid.</i></p>
                </div>
            </div>
            <div>
                <input class="name" formControlName="Location" type="text" placeholder="Location.."><br>
                <span *ngIf="form.get('Location')?.invalid && form.get('Location')?.touched"><i>Location is required.</i></span>
            </div>
            <div>
                <textarea class="name" formControlName="Description" placeholder="Description"></textarea><br>
                <div *ngIf="form.get('Description')?.invalid && form.get('Description')?.touched" class="span">
                    <p *ngIf="form.get('Description')?.hasError('required')"><i>Description is Required.</i></p>
                    <p><i>Description must contain at least 10 characters</i></p>
                </div>
            </div>
        </div>
        
        <button type="submit" [disabled]="form.invalid">Add Incident</button>
    </form>
</div>

<div class="container10" *ngIf="incidents.length">
    <h1>MY VIEWS</h1>
    <div class="container11" *ngFor="let incident of incidents">
        <!-- <p>{{view.Username}}</p> -->
        <p>{{incident.Title}}</p>
        <p>{{incident.Location}}</p>
        <p>{{incident.Image}}</p>
        <p>{{incident.Description}}</p>
        <button (click)="deleteIncident(incident.Id)">Delete</button>
    </div>
</div>

