<app-header></app-header>
<!-- <app-sign-up></app-sign-up> -->
 <!-- <app-login></app-login> -->
  <!-- <app-home></app-home> -->
 
<!-- <app-all-views></app-all-views> -->
 <!-- <app-my-views></app-my-views> -->
<!-- <app-my-incidents></app-my-incidents> -->
 <!-- <app-all-incidents></app-all-incidents> -->
 <!-- <app-create-polls></app-create-polls> -->
  <!-- <app-admin></app-admin> -->
   <!-- <app-chat-box></app-chat-box> -->
  <router-outlet></router-outlet>
   <!-- <app-footer></app-footer> -->
  