body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    width:100vw;
    height:100vh;

}
.container1{
    display: flex;
    flex-direction: column;

}
.container2{
    display:flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: right;
    align-items: right;
    gap: 10px;
    padding: 10px;
    /* background-color: #1F75FE; */

}
.container2 p{
    background-color:#1F75FE ;
    padding:10px 15px;
    border-radius: 10px;
}
.container3{
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    align-items: center;
    width:60%;
    justify-content: center;
    margin:auto;
    margin-top: 300px;
    
    
    gap:20px;

    
   
}
.container3 input{
    width:400px;
    border: none;
    /* border-bottom: 0.5px solid black; */
    border-radius:10px;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height:30px;
    font-size: 20px;
    color:fffffff;
}
.container3 button{
    width:150px;
    border: none;
    border-radius:10px;
    justify-content: right;
    align-items: center;
    padding:10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height:40px;
    font-size: 20px;
    color:white;
    /* margin-left: 150px; */
    /* color:#1F75FE; */
    background-color:rgb(31, 117, 254);
    cursor: pointer;
}