body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color:white;
    width:100vW;
    /* position: relative; */
    background-image: url("../../assets/john-mcarthur-Ue5kuMVmIhU-unsplash.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height:600px;
}

.everything{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:10px;
    
   
    /* margin-top: 20px ; */
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    

    
    padding:10px;
}
.word{
    margin: 10px 0 30px;
    /* width:70%; */
    color:grey ;
}
.register{
    border: 1px solid black;
    color:white;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    
    
}
h1{
    font-size: 36px;
    font-weight: 500;
  
    margin-top:100px;
    text-align: center;
    /* margin: 20px; */

}
h2{
    margin: 20px;
    /* width: 90%; */
    text-align: center;

}
h3{
    /* width: 90%; */
    margin-right: 100px;
    margin-left: 150px;
    text-align: center;
}
.learnmore{
    background-color:#1F75FE ;
    color:white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor:pointer ;

}
.learnmore:hover{
    background-color: white;
    color:white;
}
img{
    margin-top: 0;
    width: 70%;
    height:70%;
    /* position: absolute; */
    /* bottom: 0; */
    /* top:10; */
    right: 70%;
    border-radius: 50%;
}
.icons{
    margin-top: 80px;
}

@media screen and (max-width: 480px) {
    body{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        color:white;
        width:100vW;
        /* position: relative; */
        background-image: url("../../assets/john-mcarthur-Ue5kuMVmIhU-unsplash.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* height:600px; */
    }
}