<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn About Kenya</title>
</head>
<body>
    <div class="everything">
        <div class="content">
            <div>
                <h1><b></b></h1>
                <h2>Learn More About<br> Your Nation</h2>
            </div>
            <div>
                <h3><i>Our mission is to provide comprehensive,<br> engaging, and accessible information about<br> Kenya, helping you expand your<br> horizons and knowledge<br>about our Country.</i></h3>
            </div>
            <!-- <div>
                <button class="learnmore">Educate Yourself</button> -->
            <!-- </div> -->
        </div>
        <div class="image">
            <!-- <img src="https://images.unsplash.com/photo-1719444031241-965392b48ab2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8a2VueWFuJTIwZmxhZ3xlbnwwfHwwfHx8MA%3D%3D" alt="Kenyan Flag"> -->
        </div>  
    </div>
</body>
</html>
